html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
a {
	padding: 0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}
body {
	font-family: "Roboto-Regular", sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}
