@import "global";
@import "vars";
@import "fonts";

@media (max-width: 1150px) {
	.all-items__main-items .products__item {
		width: calc(50% - 10px);
	}
	.more-products__item {
		width: calc(50% - 10px);
	}
}
@media (max-width: 1050px) {
	.all-items__wrapper.all-items-list {
		flex-direction: column;
	}
	.all-items__aside.all-items-list {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		.product-item {
			max-width: 100%;
		}
		.all-items__categories {
			width: 40%;
		}
		.all-items__price {
			width: calc(60% - 10px);
			height: 100%;
		}
		.all-items__top {
			display: none;
		}
	}
	.product-details__buttons {
		flex-direction: column;
	}
	.product-details__buttons-main {
		width: 100%;
		margin-bottom: 10px;
		a {
			text-align: center;
			width: 100%;
			& + a {
				margin-left: 18px;
			}
		}
	}
	.product-details__buttons-socials {
		justify-content: space-around;
		width: 60%;
	}
	.withdrawals__wrapper {
		flex-direction: column;
	}
	.withdrawals__column {
		max-width: 100%;
		& + .withdrawals__column {
			margin-top: 30px;
		}
	}

	.withdrawals__history-item {
		justify-content: center;
		min-width: 537px;
	}

	.header__text {
		display: none;
	}
	.footer__wrapper {
		flex-wrap: wrap;
	}
	.footer__col-about {
		width: 100%;
		margin-bottom: 30px;
	}
}
@media (max-width: 940px) {
	.contact__form-row {
		flex-direction: column;
		input {
			max-width: 100%;
			& + input {
				margin-left: 0;
			}
		}
	}
	.more-products__item {
		width: 100%;
	}
	.settings-item__row {
		flex-direction: column;
		align-items: start;
		margin-bottom: 15px;
		label {
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 900px) {
	.all-items__main-items .products__item {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 860px) {
	.more-products {
		display: none;
	}
	.product-details__wrapper {
		flex-direction: column;
	}
	.product-details__content {
		margin-right: 0;
	}
	.product-details__aside {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	.product-details .product-item {
		width: calc(50% - 20px);
		margin: 0 10px;
	}
	.product-sales {
		display: none;
	}
	.product-info {
		width: 100%;
	}
	.header {
		border-bottom: 1px solid #d5d5d5;
	}

	.header__menu-btn {
		display: block;
	}
	.header__logo {
		margin-left: 50px;
	}
	.header__menu {
		position: absolute;
		top: 90px;
		left: 0;
		display: none;
		color: #000;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
		z-index: 1;
		li {
			display: block;
			border-bottom: 1px solid $main-bright;
			padding: 10px 0;
			a {
				width: 100%;
			}
			& + li {
				margin: 0;
			}
		}
	}
}
@media (max-width: 840px) {
}
@media (max-width: 800px) {
	.profile__wrapper {
		flex-direction: column;
	}
	.profile__content {
		order: -1;
		margin-bottom: 20px;
	}
	.profile__aside {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0;
		display: flex;
	}
	.profile {
		.footer__col-socials {
			width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			margin-left: 20px;
			margin-right: 35px;
			li + li {
				margin-left: 0;
			}
		}
	}
	.profile__aside-btn {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 50px;
	}
	.header__top {
		height: 60px;
	}
	.header__user-box,
	.header__cart-box,
	.header__message-box,
	.header__notification-box {
		.user__menu,
		.cart__menu,
		.message__menu,
		.notification__menu {
			top: 48px;
		}
	}
	.header__menu {
		top: 60px;
	}
	.footer__wrapper {
		justify-content: space-around;
	}
	.footer__col-menu {
		margin-bottom: 30px;
	}
	.page-404__404 {
		font-size: 200px;
		line-height: 200px;
		img {
			height: 170px;
		}
	}
	.page-404__title {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.page-404__text {
		font-size: 15px;
		line-height: 20px;
	}
}
@media (max-width: 700px) {
	.page-404,
	.about,
	.withdrawals,
	.upload,
	.settings,
	.profile,
	.contact,
	.all-items {
		margin-bottom: 50px;
	}
	.header__message-box,
	.header__notification-box {
		display: none;
	}
	.settings__inner {
		flex-direction: column;
		.tabs {
			max-width: 100%;
		}
	}
	.tabs {
		margin-bottom: 20px;
	}
	.tab {
		text-align: center;
	}
	.tab-item form {
		padding-bottom: 20px;
	}
	.contact__form {
		margin-left: 20px;
	}
	.all-items__main-items-list .products__item-img {
		display: none;
	}
	.all-items__main-items-list {
		.products__item-comments,
		.products__item-likes {
			margin-left: 10px;
			padding-left: 0px;
			width: 16px;
			height: 18px;
			border-left: none;
			&::before {
				left: 0;
			}
		}
		.products__item-comments,
		.products__item-likes,
		.products__item-rating {
			font-size: 0;
		}
	}
}
@media (max-width: 640px) {
	.all-items__wrapper {
		flex-direction: column;
	}
	.all-items__aside {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.all-items__price {
		width: 60%;
		height: 100%;
		margin-left: 10px;
	}
	.all-items__top {
		display: none;
	}
	.contact__map iframe {
		height: 300px;
	}
	.product-details__img {
		height: 300px;
	}
	.more-products__tabs .tab-item__list {
		height: 100%;
	}
	.upload__content-line {
		flex-direction: column;
		margin-bottom: 20px;
		label {
			padding-top: 0;
			margin-bottom: 15px;
		}
	}
	.upload__content button {
		margin-left: 0;
	}
	.withdrawals__history-items {
		overflow-x: scroll;
		padding: 0;
	}
}
@media (max-width: 570px) {
	.contact__box {
		flex-direction: column;
	}
	.contact__form {
		margin-left: 0;
	}
	.product-details .product-item {
		width: 100%;
	}
	.profile__aside {
		flex-direction: column;
	}
	.profile {
		.footer__col-socials {
			flex-direction: row;
		}
	}
	.withdrawals__form-item {
		margin-bottom: 20px;
		label {
			margin-bottom: 15px;
		}
	}
	.header__user-info {
		display: none;
	}
	.header__user {
		padding: 0;
		margin: 0;
	}
}
@media (max-width: 540px) {
	.about__top,
	.withdrawals__column-title,
	.upload__title,
	.settings-item__title {
		padding-left: 20px;
	}
	.tabs__content,
	.about__body,
	.withdrawals__form-items,
	.upload__content,
	.tab-item form,
	.contact__body {
		padding: 20px 20px;
	}
	.withdrawals__column button {
		margin-top: 0;
		margin-left: 20px;
	}
	.page-404__body {
		padding: 70px 10px 50px;
	}
	.page-404__404 {
		font-size: 150px;
	}
	.product-details__buttons-main {
		flex-direction: column;
		a + a {
			margin-left: 0px;
			margin-top: 5px;
		}
	}
}
@media (max-width: 520px) {
	.all-items__aside {
		flex-direction: column;
	}
	.product-item.all-items__price,
	.all-items__aside.all-items-list .product-item {
		width: 100%;
		margin-left: 0;
	}
	.contact__info-title {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.contact__info-item {
		margin-bottom: 20px;
	}
	.contact__form-row input {
		margin-bottom: 10px;
	}
	.more-products__tabs .tabs {
		flex-direction: column;
		margin-bottom: 0;
	}
	.profile__banner-img {
		height: 250px;
	}
	.footer__wrapper {
		padding: 40px 0;
	}
	.footer__col-menu {
		width: 100%;
	}
}
@media (max-width: 440px) {
	.about__top,
	.withdrawals__column-title,
	.upload__title,
	.settings-item__title,
	.contact__form-title {
		font-size: 18px;
		padding-left: 10px;
		@include f700;
	}
	.about__body,
	.withdrawals__form-items,
	.upload__content,
	.tab-item form {
		padding: 20px 10px;
	}
	.withdrawals__column button {
		margin-left: 10px;
	}
	.about__title {
		margin-bottom: 10px;
	}
	.header__user-menu {
		display: flex;
	}
	.header__panel {
		position: absolute;
		top: -70%;
		left: 34px;
		height: 0px;
		transition: all 0.5s;
	}
	.header__panel-on {
		position: absolute;
		top: 0px;
		left: 34px;
		height: 60px;
	}

	.header__cart-box {
		margin-left: 10px;
		.cart__menu {
			left: 0;
		}
	}
	.header__user-img {
		margin-right: 10px;
	}
	.page-404__404 {
		font-size: 140px;
		line-height: 140px;
		display: block;
	}
	.upload__content button {
		width: 100%;
	}
	.profile__items-title {
		margin-bottom: 5px;
	}
	.search__text {
		font-size: 16px;
	}
}

@media (min-width: 861px) {
	.header__menu {
		display: flex !important;
	}
}
