@import "global";
@import "vars";
@import "fonts";

@media (max-width: 1050px) {
	.withdrawals__wrapper {
		flex-direction: column;
	}
	.withdrawals__column {
		max-width: 100%;
		& + .withdrawals__column {
			margin-top: 30px;
		}
	}

	.withdrawals__history-item {
		justify-content: center;
		min-width: 537px;
	}

	.header__text {
		display: none;
	}
	.footer__wrapper {
		flex-wrap: wrap;
	}
	.footer__col-about {
		width: 100%;
		margin-bottom: 30px;
	}
}
@media (max-width: 940px) {
	.settings-item__row {
		flex-direction: column;
		align-items: start;
		margin-bottom: 15px;
		label {
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 860px) {
	.header {
		border-bottom: 1px solid #d5d5d5;
	}

	.header__menu-btn {
		display: block;
	}
	.header__logo {
		margin-left: 50px;
	}
	.header__menu {
		position: absolute;
		top: 90px;
		left: 0;
		display: none;
		color: #000;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
		z-index: 1;
		li {
			display: block;
			border-bottom: 1px solid $main-bright;
			padding: 10px 0;
			a {
				width: 100%;
			}
			& + li {
				margin: 0;
			}
		}
	}
}
@media (max-width: 800px) {
	.header__top {
		height: 60px;
	}
	.header__user-box,
	.header__cart-box,
	.header__message-box,
	.header__notification-box {
		.user__menu,
		.cart__menu,
		.message__menu,
		.notification__menu {
			top: 48px;
		}
	}
	.header__menu {
		top: 60px;
	}
	.footer__wrapper {
		justify-content: space-around;
	}
	.footer__col-socials {
		width: 100%;
	}
	.footer__col-menu {
		margin-bottom: 30px;
	}
	.page-404__404 {
		font-size: 200px;
		line-height: 200px;
		img {
			height: 170px;
		}
	}
	.page-404__title {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.page-404__text {
		font-size: 15px;
		line-height: 20px;
	}
}
@media (max-width: 700px) {
	.page-404,
	.about,
	.withdrawals,
	.upload,
	.settings {
		margin-bottom: 50px;
	}
	.header__message-box,
	.header__notification-box {
		display: none;
	}
	.settings__inner {
		flex-direction: column;
		.tabs {
			max-width: 100%;
		}
	}
	.tabs {
		margin-bottom: 20px;
	}
	.tab {
		text-align: center;
	}
	.tab-item form {
		padding-bottom: 20px;
	}
}
@media (max-width: 640px) {
	.upload__content-line {
		flex-direction: column;
		margin-bottom: 20px;
		label {
			padding-top: 0;
			margin-bottom: 15px;
		}
	}
	.upload__content button {
		margin-left: 0;
	}
	.withdrawals__history-items {
		overflow-x: scroll;
		padding: 0;
	}
}
@media (max-width: 570px) {
	.withdrawals__form-item {
		margin-bottom: 20px;
		label {
			margin-bottom: 15px;
		}
	}
	.header__user-info {
		display: none;
	}
	.header__user {
		padding: 0;
		margin: 0;
	}
}
@media (max-width: 540px) {
	.about__top,
	.withdrawals__column-title,
	.upload__title,
	.settings-item__title {
		padding-left: 20px;
	}
	.about__body,
	.withdrawals__form-items,
	.upload__content,
	.tab-item form {
		padding: 20px 20px;
	}
	.withdrawals__column button {
		margin-top: 0;
		margin-left: 20px;
	}
	.page-404__body {
		padding: 70px 10px 50px;
	}
	.page-404__404 {
		font-size: 150px;
	}
}
@media (max-width: 520px) {
	.footer__wrapper {
		padding: 40px 0;
	}
	.footer__col-menu {
		width: 100%;
	}
}
@media (max-width: 440px) {
	.about__top,
	.withdrawals__column-title,
	.upload__title,
	.settings-item__title {
		font-size: 18px;
		padding-left: 10px;
		@include f700;
	}
	.about__body,
	.withdrawals__form-items,
	.upload__content,
	.tab-item form {
		padding: 20px 10px;
	}
	.withdrawals__column button {
		margin-left: 10px;
	}
	.about__title {
		margin-bottom: 10px;
	}
	.header__user-menu {
		display: flex;
	}
	.header__panel {
		position: absolute;
		top: -70%;
		left: 34px;
		height: 0px;
		transition: all 0.5s;
	}
	.header__panel-on {
		position: absolute;
		top: 0px;
		left: 34px;
		height: 60px;
	}

	.header__cart-box {
		margin-left: 10px;
		.cart__menu {
			left: 0;
		}
	}
	.header__user-img {
		margin-right: 10px;
	}
	.page-404__404 {
		font-size: 140px;
		line-height: 140px;
		display: block;
	}
	.upload__content button {
		width: 100%;
	}
}

@media (min-width: 861px) {
	.header__menu {
		display: flex !important;
	}
}
