@import "global";
@import "vars";
@import "fonts";

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.header__text {
	margin-left: auto;
	margin-right: 25px;
	span {
		color: $red;
	}
}
.header__panel {
	display: flex;
	align-items: center;
}
.header__cart {
	position: relative;
	text-align: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	margin-right: 25px;
	img {
		margin: 10px 0;
	}
	span {
		font-family: "Open Sans", sans-serif;
		font-size: 11px;
		font-weight: 600;
		position: absolute;
		padding: 3px 0;
		height: 19px;
		width: 19px;
		background-color: $red;
		border-radius: 50%;
		right: -5px;
		top: -8px;
		color: #fff;
	}
}
.header__btn {
	width: 70px;
	padding: 10px 5px;
	text-align: center;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	& + .header__btn {
		margin-left: 7px;
	}
}

.login-btn {
	background-color: $green;
}
.register-btn {
	background-color: $red;
}
.header__bottom {
	display: flex;
	align-items: center;
	height: 60px;
	background-color: $main-dark;
}
.header__menu {
	color: #fff;
	font-size: 14px;
	@include f500;
	li {
		display: inline-block;
	}
	li + li {
		margin-left: 38px;
	}
}
.search {
	background-image: url(../images/header/search-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
}
.search__wrapper {
	text-align: center;
	padding: 155px 0 100px;
	color: #fff;
}

.search__title {
	font-size: 48px;
	@include f700;
	margin-bottom: 30px;
}
.search__text {
	font-size: 20px;
	@include f500;
	margin-bottom: 60px;
}
.search__wrapper {
	& form {
		max-width: 670px;
		position: relative;
		margin: 0 auto;
		.search__input {
			width: 100%;
			height: 56px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			background-color: #fff;
			border: none;
			padding: 0 70px 0 25px;
			color: #90a4ae;
			font-size: 14px;
			@include f500;
			&::placeholder {
				color: $red;
				color: #90a4ae;
			}
		}
		.search__btn {
			position: absolute;
			border: none;
			background-color: transparent;
			top: 16px;
			right: 20px;
		}
	}
}

// products
.products {
	padding: 120px 0 110px;
	background-color: #f4f6f5;
}
.products__title {
	text-align: center;
	font-size: 36px;
	@include f700;
	color: $main-dark;
	margin-bottom: 55px;
}

.products__wrapper {
	.products__top-btn {
		text-align: center;
		margin-bottom: 60px;
		button {
			font-size: 14px;
			@include f500;
			color: $main-dark;
			background-color: #fff;
			padding: 10px 20px;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
			& + button {
				margin-left: 5px;
			}
		}
	}
}
.products__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px;
}
.products__item {
	max-width: 442px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	margin-bottom: 30px;
	&-img {
		width: 100%;
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.products__item-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e7ecf2;
		padding: 30px 30px 20px;
	}
	.products__item-text {
		max-width: 310px;
	}
	&-title {
		display: block;
		font-size: 18px;
		color: $main-dark;
		@include f500;
		margin-bottom: 7px;
	}
	&-category {
		font-size: 14px;
		@include f500;
		color: $green;
	}
	&-price {
		font-size: 20px;
		@include f500;
	}
	.products__item-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 30px 20px;
	}
	.products__item-author {
		display: flex;
		align-items: center;
		max-width: 245px;
	}
	&-avatar {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
	}
	&-name {
		margin-left: 12px;
		font-size: 14px;
		@include f500;
		color: $main-bright;
	}
	&-rating {
		font-size: 12px;
		color: $main-dark;
		display: flex;
	}
}

.products__bottom-btn {
	text-align: center;
	font-size: 16px;
	color: $main-dark;
	button {
		padding: 20px 30px;
		background-color: #fff;
		margin: 0 5px;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}

// trend
.trend {
	padding: 120px 0;
	&__title {
		font-size: 36px;
		@include f700;
		color: $main-dark;
		margin-bottom: 60px;
		text-align: center;
	}
	&__wrapper {
		text-align: center;
		margin: 0 -10px;

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				button {
					font-size: 0;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #e8e8e8;
					margin: 0 3px;
				}
				&.slick-active {
					button {
						background-color: $green;
					}
				}
			}
		}
	}
}

// advantages
.advantages {
	background-color: $main-dark;
	padding: 115px 0;
	&__title {
		text-align: center;
		color: #fff;
		font-size: 36px;
		@include f700;
		margin-bottom: 80px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
.advantages__item {
	max-width: 370px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	&:hover {
		.advantages__item-img {
			background-color: $green;
			svg {
				g {
					fill: #fff;
				}
			}
		}
		.advantages__item-title {
			color: $green;
		}
	}
	&-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 112px;
		height: 112px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 30px;
		transition: all 0.3s;
		svg {
			g {
				transition: all 0.3s;
			}
		}
	}
	&-title {
		font-size: 24px;
		@include f500;
		color: #fff;
		margin-bottom: 20px;
		transition: all 0.3s;
	}
	&-text {
		color: #b0bec5;
		line-height: 24px;
	}
}

// author

.author {
	min-height: 745px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		max-width: 655px;
		width: 100%;
		min-height: 215px;
		background-color: $green;
		line-height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		&-title {
			font-size: 30px;
			color: #fff;
			max-width: 275px;
			margin-right: 40px;
			span {
				@include f700;
			}
		}
		&-btn {
			font-size: 18px;
			color: $main-dark;
			background-color: #fff;
			padding: 13px 40px;
		}
	}
}

// tutorial
.tutorial {
	padding: 65px 0px 120px;
	&__title {
		font-size: 36px;
		line-height: 60px;
		@include f700;
		color: $main-dark;
		text-align: center;
		margin-bottom: 55px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
.tutorial__item {
	max-width: 370px;
	width: 100%;
	&-img {
		min-height: 270px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-title {
		font-size: 24px;
		@include f700;
		text-align: center;
		background-color: #f8f8f8;
		color: $main-dark;
		line-height: 60px;
		padding: 20px 10px;
	}
}

// footer

.footer {
	background-color: $main-dark;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 115px;
	padding-bottom: 100px;
}
.footer__col {
	width: 270px;

	&-menu {
		width: 220px;
	}
	&-title {
		font-family: "Raleway", sans-serif;
		color: #fff;
		font-size: 22px;
		position: relative;
		padding-bottom: 25px;
		margin-bottom: 30px;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: $green;
		}
	}
}
.footer__col {
	&-text {
		color: #b7c3c8;
		line-height: 24px;
		margin-bottom: 30px;
	}
	&-address {
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		@include f500;
		padding-left: 30px;
		margin-bottom: 20px;
		position: relative;
		&::before {
			position: absolute;
			content: "\f041";
			font-family: "icomoon";
			left: 0;
			font-size: 18px;
			color: $green;
		}
	}
	&-phone {
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		@include f500;
		padding-left: 30px;
		position: relative;
		&::before {
			position: absolute;
			content: "\f095";
			font-family: "icomoon";
			left: 0;
			font-size: 18px;
			color: $green;
		}
	}
}
.footer__col {
	&-list {
		color: #b7c3c8;
		li {
			margin-bottom: 20px;
			padding-left: 22px;
			position: relative;
			&::before {
				position: absolute;
				content: "\f105";
				font-family: "icomoon";
				left: 0;
				font-size: 18px;
				color: $green;
			}
		}
	}
}
.footer__col {
	&-socials {
		margin-bottom: 25px;
		li {
			display: inline-block;
			& + li {
				margin-left: 3px;
			}
			.socials__icon-1 {
				background-image: url(../images/css_sprites.png);
				background-position: 0 0;
				width: 28px;
				height: 28px;
			}
			.socials__icon-2 {
				background: url(../images/css_sprites.png);
				background-position: -28px -0;
				width: 28px;
				height: 28px;
			}
			.socials__icon-3 {
				background: url(../images/css_sprites.png);
				background-position: -0 -28px;
				width: 28px;
				height: 28px;
			}
			.socials__icon-4 {
				background: url(../images/css_sprites.png);
				background-position: -28px -28px;
				width: 28px;
				height: 28px;
			}
			.socials__icon-5 {
				background: url(../images/css_sprites.png);
				background-position: -56px -0;
				width: 28px;
				height: 28px;
			}
		}
	}
	.footer__form-title {
		font-size: 20px;
		line-height: 36px;
		color: #fff;
		margin-bottom: 8px;
	}
	.footer__form {
		position: relative;
		input {
			width: 100%;
			height: 38px;
			border: none;
			background-color: #2f3c43;
			padding-left: 15px;
			padding-right: 55px;
			::placeholder {
				color: #697378;
			}
		}
		button {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 43px;
			height: 38px;
			background-color: $green;
			&::before {
				content: "\f124";
				font-family: "icomoon";
				position: absolute;
				bottom: 8px;
				left: 12px;
				font-size: 20px;
				color: #fff;
			}
		}
	}
}

.footer__bottom {
	border-top: #424d53 solid 1px;
	&-text {
		text-align: center;
		color: #919699;
		padding: 25px 0px 30px;
	}
}
