@import "global";
@import "vars";
@import "fonts";

.header__top {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.header__menu-btn {
	position: absolute;
	display: none;
	div {
		width: 30px;
		height: 4px;
		margin-bottom: 4px;
		background-color: $main-dark;
	}
}

.header__text {
	margin-left: auto;
	margin-right: 25px;
	span {
		color: $red;
	}
}
.header__panel {
	display: flex;
	align-items: center;
	background-color: #f4f6f5;
}
.header__panel.header__panel-on {
	display: flex;
}
.header__circle {
	position: relative;
	text-align: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	&::before {
		color: #a0a0a0;
		font-size: 14px;
		text-align: center;
		line-height: 34px;
	}
	span {
		font-family: "Open Sans", sans-serif;
		font-size: 11px;
		font-weight: 600;
		position: absolute;
		padding: 3px 0;
		height: 19px;
		width: 19px;
		background-color: $green;
		border-radius: 50%;
		right: -5px;
		top: -8px;
		color: #fff;
	}
	&.icon-envelope-o {
		span {
			background-color: $orange;
		}
	}
	&.icon-bell-o {
		span {
			background-color: $yellow;
		}
	}
}

.header__user {
	display: flex;
	align-items: center;
	padding-right: 22px;
	margin-right: 30px;
	position: relative;
	&-img {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		margin-right: 15px;
	}
	&-info {
		font-size: 14px;
	}
	&-name {
		color: #222222;
		@include f500;
		margin-bottom: 5px;
		&::after {
			position: absolute;
			content: "\f107";
			font-family: "icomoon";
			top: 0;
			right: 0;
		}
	}
	&-money {
		color: $green;
		@include f700;
	}
}
.header__user-box,
.header__cart-box,
.header__message-box,
.header__notification-box {
	position: relative;
	margin-left: 20px;
	&:hover {
		height: 62px;
		margin-top: 25px;
		.user__menu,
		.cart__menu,
		.message__menu,
		.notification__menu {
			height: auto;
			overflow: visible;
			padding: 10px 24px 10px;
			border-width: 1px;
		}
	}
	.user__menu,
	.cart__menu,
	.message__menu,
	.notification__menu {
		height: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 63px;
		right: 0;
		border: 0px solid #d5d5d5;
		background-color: #fff;
		padding: 0 24px;
		transition: all 0.3s;
		z-index: 4;
		li {
			position: relative;
			padding-left: 14px;
			padding-right: 14px;
			font-size: 12px;
			line-height: 36px;
			color: $main-bright;
		}
	}
}
.header__cart-box {
	&:hover {
		.cart__menu {
			width: 265px;
			padding: 19px 0px 12px;
		}
	}
	.cart__menu {
		padding: 0;
		width: 265px;
		.cart__item {
			display: flex;
			align-items: center;
			padding: 0 22px 19px;
			border-bottom: 1px solid #d5d5d5;
			& + .cart__item {
				padding-top: 19px;
			}
		}
		.cart__img {
			margin-right: 15px;
		}
		.cart__info {
			line-height: 20px;
		}
		.cart__info-title {
			@include f500;
			color: $main-dark;
		}
		.cart__info-type {
			font-size: 12px;
			color: $green;
		}
		.cart__info-price {
			@include f500;
			color: #000;
			font-size: 16px;
		}
		.cart__bottom {
			padding: 20px 15px 0px;
			.bottom__info {
				display: flex;
				justify-content: space-between;
				padding: 0 12px;
				font-size: 16px;
				@include f700;
				color: $main-dark;
				margin-bottom: 15px;
			}
			.bottom__btn {
				display: flex;
				justify-content: space-between;
				font-size: 14px;
				@include f700;
				color: #f4f6f5;
				line-height: 35px;
				text-align: center;
				&-cart {
					background-color: #95c85a;
					margin-right: 6px;
					flex-grow: 1;
				}
				&-checkout {
					flex-grow: 1;
					background-color: #e85647;
				}
			}
		}
	}
}
.header__message-box,
.header__notification-box {
	&:hover {
		.message__menu,
		.notification__menu {
			padding: 0;
			padding-top: 15px;
		}
	}
	.message__menu,
	.notification__menu {
		width: 265px;
		padding: 0;
	}
	.message__item,
	.notification__item {
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #d5d5d5;
		padding: 0px 20px 22px;
		&.active::before {
			color: $orange;
		}
		&::before {
			position: absolute;
			bottom: 50px;
			right: 29px;
		}
		& + .message__item {
			padding-top: 15px;
		}
	}
	.message__img,
	.notification__img {
		border-radius: 50%;
		margin-right: 20px;
	}
	.message__info,
	.notification__info {
		line-height: 16px;
		&-name {
			font-size: 12px;
			@include f700;
			color: $main-dark;
		}
		&-type {
			font-size: 11px;
			color: $green;
		}
		&-date {
			font-size: 10px;
			color: #707070;
		}
	}
}

.header__notification-box {
	.notification__item {
		&::before {
			bottom: 40px;
		}
		& + .notification__item {
			padding-top: 15px;
		}
	}
	.notification__info {
		&-type {
			font-size: 12px;
		}
	}
}
.header__btn {
	width: 70px;
	padding: 10px 5px;
	text-align: center;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	& + .header__btn {
		margin-left: 7px;
	}
}

.login-btn {
	background-color: $green;
}
.register-btn,
.logout-btn {
	background-color: $red;
}
.header__user-menu {
	display: none;
	position: absolute;
	font-family: "icomoon";
	justify-content: center;
	align-items: center;
	font-size: 25px;
	border-radius: 50%;
	right: 0px;
	height: 40px;
	width: 40px;
	color: #fff;
	background-color: $main-dark;
}
.header__bottom {
	background-color: $main-dark;
}
.header__menu {
	height: 60px;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 14px;
	@include f500;
	li {
		display: inline-block;
	}
	li + li {
		margin-left: 38px;
	}
}
.search {
	background-image: url(../images/header/search-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
}
.search-mini {
	height: 230px;
}
.search-mini__background.search {
	min-height: 230px;
}
.search__wrapper {
	text-align: center;
	padding: 155px 0 100px;
	color: #fff;
}
.search-mini__wrapper.search__wrapper {
	padding: 55px 10px 70px;
}

.search__title {
	font-size: 48px;
	@include f700;
	margin-bottom: 30px;
}
.search__text {
	font-size: 20px;
	@include f500;
	margin-bottom: 60px;
}
.search-mini__text.search__text {
	margin-bottom: 25px;
}
.search__wrapper {
	& form {
		max-width: 670px;
		position: relative;
		margin: 0 auto;
		.search__input {
			width: 100%;
			height: 56px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			background-color: #fff;
			border: none;
			padding: 0 70px 0 25px;
			color: #90a4ae;
			font-size: 14px;
			@include f500;
			&::placeholder {
				color: $red;
				color: #90a4ae;
			}
		}
		.search__btn {
			position: absolute;
			border: none;
			background-color: transparent;
			top: 15px;
			right: 25px;
			&::before {
				position: absolute;
				content: "\f002";
				font-family: "icomoon";
				font-size: 22px;
				top: 0;
				left: 0;
				color: #78909c;
			}
		}
	}
}
.breadcrumbs {
	background-color: #f4f6f5;
	padding: 45px 0px 40px;
	&__wrapper {
	}
	&__list {
		color: #b0bec5;
		li {
			display: inline-block;

			& + li {
				position: relative;
				margin-left: 8px;
				padding-left: 15px;
				&:nth-child(2)::before {
					color: $green;
				}
				&::before {
					position: absolute;
					left: 0;
					content: "-";
					color: #b0bec5;
				}
			}
			&:last-child {
				color: $main-dark;
			}
		}
	}
}

// products
.products {
	padding: 120px 0 110px;
	background-color: #f4f6f5;
}
.products__title {
	text-align: center;
	font-size: 36px;
	@include f700;
	color: $main-dark;
	margin-bottom: 55px;
}

.products__wrapper {
	.products__top-btn {
		text-align: center;
		margin-bottom: 60px;
		button {
			font-size: 14px;
			@include f500;
			color: $main-dark;
			background-color: #fff;
			padding: 10px 20px;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
			& + button {
				margin-left: 5px;
			}
		}
	}
}
.products__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px;
}
.products__item {
	max-width: 442px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	margin-bottom: 30px;
	&-img {
		width: 100%;
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.products__item-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e7ecf2;
		padding: 30px 30px 20px;
	}
	.products__item-text {
		max-width: 310px;
	}
	&-title {
		display: block;
		font-size: 18px;
		color: $main-dark;
		@include f500;
		margin-bottom: 7px;
	}
	&-category {
		font-size: 14px;
		@include f500;
		color: $green;
	}
	&-price {
		font-size: 20px;
		@include f500;
	}
	.products__item-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 30px 20px;
	}
	.products__item-author {
		display: flex;
		align-items: center;
		max-width: 245px;
	}
	&-avatar {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
	}
	&-name {
		margin-left: 12px;
		font-size: 14px;
		@include f500;
		color: $main-bright;
	}
	&-rating {
		font-size: 12px;
		color: $main-dark;
		display: flex;
	}
}

.products__bottom-btn {
	text-align: center;
	font-size: 16px;
	color: $main-dark;
	button {
		padding: 20px 30px;
		background-color: #fff;
		margin: 0 5px;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}

// trend
.trend {
	padding: 120px 0;
	&__title {
		font-size: 36px;
		@include f700;
		color: $main-dark;
		margin-bottom: 60px;
		text-align: center;
	}
	&__wrapper {
		text-align: center;
		margin: 0 -10px;

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				button {
					font-size: 0;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #e8e8e8;
					margin: 0 3px;
				}
				&.slick-active {
					button {
						background-color: $green;
					}
				}
			}
		}
	}
}

// advantages
.advantages {
	background-color: $main-dark;
	padding: 115px 0;
	&__title {
		text-align: center;
		color: #fff;
		font-size: 36px;
		@include f700;
		margin-bottom: 80px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
.advantages__item {
	max-width: 370px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	&:hover {
		.advantages__item-img {
			background-color: $green;
			svg {
				g {
					fill: #fff;
				}
			}
		}
		.advantages__item-title {
			color: $green;
		}
	}
	&-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 112px;
		height: 112px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 30px;
		transition: all 0.3s;
		svg {
			g {
				transition: all 0.3s;
			}
		}
	}
	&-title {
		font-size: 24px;
		@include f500;
		color: #fff;
		margin-bottom: 20px;
		transition: all 0.3s;
	}
	&-text {
		color: #b0bec5;
		line-height: 24px;
	}
}

// author

.author {
	min-height: 745px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		max-width: 655px;
		width: 100%;
		min-height: 215px;
		background-color: $green;
		line-height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		&-title {
			font-size: 30px;
			color: #fff;
			max-width: 275px;
			margin-right: 40px;
			span {
				@include f700;
			}
		}
		&-btn {
			font-size: 18px;
			color: $main-dark;
			background-color: #fff;
			padding: 13px 40px;
		}
	}
}

// tutorial
.tutorial {
	padding: 65px 0px 120px;
	&__title {
		font-size: 36px;
		line-height: 60px;
		@include f700;
		color: $main-dark;
		text-align: center;
		margin-bottom: 55px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
.tutorial__item {
	max-width: 370px;
	width: 100%;
	&-img {
		min-height: 270px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-title {
		font-size: 24px;
		@include f700;
		text-align: center;
		background-color: #f8f8f8;
		color: $main-dark;
		line-height: 60px;
		padding: 20px 10px;
	}
}

// footer

.footer {
	background-color: $main-dark;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 115px;
	padding-bottom: 100px;
}
.footer__col {
	width: 270px;

	&-menu {
		width: 220px;
	}
	&-title {
		font-family: "Raleway", sans-serif;
		color: #fff;
		font-size: 22px;
		position: relative;
		padding-bottom: 25px;
		margin-bottom: 30px;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: $green;
		}
	}
}
.footer__col {
	&-text {
		color: #b7c3c8;
		line-height: 24px;
		margin-bottom: 30px;
	}
	&-address {
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		@include f500;
		padding-left: 30px;
		margin-bottom: 20px;
		position: relative;
		&::before {
			position: absolute;
			content: "\f041";
			font-family: "icomoon";
			left: 0;
			font-size: 18px;
			color: $green;
		}
	}
	&-phone {
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		@include f500;
		padding-left: 30px;
		position: relative;
		&::before {
			position: absolute;
			content: "\f095";
			font-family: "icomoon";
			left: 0;
			font-size: 18px;
			color: $green;
		}
	}
}
.footer__col {
	&-list {
		color: #b7c3c8;
		li {
			margin-bottom: 20px;
			padding-left: 22px;
			position: relative;
			&::before {
				position: absolute;
				content: "\f105";
				font-family: "icomoon";
				left: 0;
				font-size: 18px;
				color: $green;
			}
		}
	}
}
.footer__col {
	&-socials {
		margin-bottom: 25px;
		li {
			display: inline-block;
			& + li {
				margin-left: 3px;
			}
			.socials__icon-1 {
				background-image: url(../images/css_sprites.png);
				background-position: 0 0;
				width: 28px;
				height: 28px;
			}
			.socials__icon-2 {
				background: url(../images/css_sprites.png);
				background-position: -28px -0;
				width: 28px;
				height: 28px;
			}
			.socials__icon-3 {
				background: url(../images/css_sprites.png);
				background-position: -0 -28px;
				width: 28px;
				height: 28px;
			}
			.socials__icon-4 {
				background: url(../images/css_sprites.png);
				background-position: -28px -28px;
				width: 28px;
				height: 28px;
			}
			.socials__icon-5 {
				background: url(../images/css_sprites.png);
				background-position: -56px -0;
				width: 28px;
				height: 28px;
			}
		}
	}
	.footer__form-title {
		font-size: 20px;
		line-height: 36px;
		color: #fff;
		margin-bottom: 8px;
	}
	.footer__form {
		position: relative;
		input {
			width: 100%;
			height: 38px;
			border: none;
			background-color: #2f3c43;
			padding-left: 15px;
			padding-right: 55px;
			::placeholder {
				color: #697378;
			}
		}
		button {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 43px;
			height: 38px;
			background-color: $green;
			&::before {
				content: "\f124";
				font-family: "icomoon";
				position: absolute;
				bottom: 8px;
				left: 12px;
				font-size: 20px;
				color: #fff;
			}
		}
	}
}

.footer__bottom {
	border-top: #424d53 solid 1px;
	&-text {
		text-align: center;
		color: #919699;
		padding: 25px 0px 30px;
	}
}

// login-popup
#login-popup {
	background-color: $green;
	max-width: 730px;
	width: 100%;
	padding: 85px 10px 110px;
	.fancybox-button {
		color: #fff;
	}
	.login-popup__title {
		text-transform: uppercase;
		text-align: center;
		font-size: 48px;
		@include f700;
		color: #fff;
		margin-bottom: 40px;
	}
	form {
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		input {
			padding-left: 40px;
			padding-right: 10px;
			display: block;
			border: none;
			background-color: #76ae36;
			font-size: 14px;
			color: #fff;
			height: 43px;
			width: 100%;
			outline: none;
			&::placeholder {
				color: #fff;
			}
		}
		label {
			display: block;
			position: relative;
			& + label {
				margin-top: 8px;
				margin-bottom: 19px;
			}
		}
		label::before {
			position: absolute;
			font-family: "icomoon";
			color: #fff;
			top: 14px;
			left: 18px;
			font-size: 14px;
			z-index: 1;
		}
		.login-popup__btn {
			display: flex;
			text-align: center;
			flex-wrap: wrap;
			button {
				min-width: 135px;
				font-size: 14px;
				@include f700;
				color: #000;
				background-color: #fff;
				text-transform: uppercase;
				margin-right: 10px;
				flex-grow: 1;
				padding: 14px 0;
				box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
			}
			.icon-edit {
				min-width: 250px;
				position: relative;
				padding: 14px 0;
				font-size: 18px;
				color: #fff;
				background-color: #76ae36;
				flex-grow: 1;
				padding-left: 20px;
				&::before {
					left: 28px;
					position: absolute;
				}
			}
		}
		.login-popup__lost {
			font-size: 18px;
			color: #fff;
			margin-top: 25px;
		}
	}
}

// product-details

.product-details {
	background-color: #f4f6f5;
}
.product-details__wrapper {
	display: flex;
}
.product-details__content {
	max-width: 870px;
	margin-right: 22px;
}
.product-details__main {
	margin-bottom: 55px;
}
.product-details__frame {
	background-color: #fff;
	display: flex;
	justify-content: center;
	border: 1px solid #dcdcdc;
	padding: 18px 0;
	margin-bottom: 30px;
}
.product-details__img {
	max-width: 822px;
	width: 100%;
	height: 422px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.product-details__title {
	font-size: 30px;
	line-height: 40px;
	color: $main-dark;
	@include f500;
	margin-bottom: 25px;
}
.product-details__text {
	font-size: 16px;
	line-height: 24px;
	color: #707070;
	padding-right: 20px;
	text-align: justify;
	margin-bottom: 45px;
}
.product-details__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.product-details__buttons-main {
	font-size: 16px;
	color: #f4f6f5;
	display: flex;
	a {
		padding: 16px 25px;
		& + a {
			margin-left: 18px;
		}
	}
}
.product-details__buttons-preview {
	background-color: $red;
}
.product-details__buttons-sreenshots {
	background-color: #455a64;
}
.product-details__buttons-documentation {
	background-color: $green;
}

.product-details__buttons-socials {
	display: flex;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 54px;
		font-size: 18px;
		color: #fff;
		& + a {
			margin-left: 3px;
		}
	}
	.icon-facebook {
		background-color: #6370b6;
	}
	.icon-twitter {
		background-color: #64b5f6;
	}
	.icon-linkedin {
		background-color: #4f71ce;
	}
	.icon-pinterest-p {
		background-color: #d32f2f;
	}
}

.more-products__tabs {
	background-color: #fff;
	margin-bottom: 51px;
	.tabs {
		max-width: 100%;
		width: 100%;
		color: #70838d;
		font-size: 16px;
		display: flex;
		justify-content: space-between;
		border: 1px solid #d7d7d7;
		border-bottom: none;
	}
	.tab {
		text-align: center;
		flex-grow: 1;
		border-left: 1px solid #d7d7d7;
		padding: 20px 10px;
		cursor: pointer;
		border-bottom: 1px solid #d7d7d7;
		&.active {
			border-bottom: 3px solid $green;
		}
	}
	.tabs__content {
		padding: 35px 30px 30px;
		border: 1px solid #d7d7d7;
		border-top: none;
	}

	.tab-item {
		color: #707070;
		font-size: 16px;
		line-height: 36px;
		display: none;
		&.active-tab {
			display: block;
		}
	}
	.tab-item__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 180px;
		li {
			position: relative;
			padding-left: 13px;
			&::before {
				top: -2px;
			}
		}
	}
}

.more-products {
	padding-bottom: 92px;
}
.more-products__title {
	color: $main-dark;
	font-size: 18px;
	line-height: 24px;
	@include f500;
	padding: 16px 27px 18px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	margin-bottom: 28px;
}
.more-products__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.more-products__item {
	display: flex;
	align-items: center;
	width: 270px;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	background-color: #fff;
	margin-bottom: 28px;
}

.more-products__img {
	width: 100px;
	height: 90px;
	margin-right: 20px;
}
.more-products__info {
	color: $main-dark;
}
.more-products__name {
	font-size: 14px;
	@include f500;
	margin-bottom: 10px;
}
.more-products__type {
	font-size: 12px;
	color: $green;
	margin-bottom: 10px;
}
.more-products__price {
	font-size: 18px;
	@include f700;
}

.product-details__aside {
	.product-item {
		border: 1px solid #dedede;
		background-color: #fff;
		padding: 25px 29px;
		margin-bottom: 30px;
		.product-item__title {
			@include f700;
			font-size: 20px;
			color: $main-dark;
			padding-bottom: 20px;
			border-bottom: 1px solid #dedede;
			margin-bottom: 30px;
		}
		.product-item__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 27px;
			.jq-selectbox.jqselect {
				width: 100px;
			}
			.product-item__info-price {
				@include f500;
				font-size: 22px;
				color: $red;
			}
		}
		.product-item__price-btn {
			button {
				font-family: "Roboto", sans-serif;
				display: block;
				width: 100%;
				background-color: $main-bright;
				padding: 18px 10px 17px;
				color: #fff;
				& + button {
					margin-top: 7px;
				}
				&::before {
					font-family: "icomoon";
					margin-right: 8px;
				}
				&.price-btn__cart {
					background-color: $green;
					&::before {
						content: "\f07a";
					}
				}
				&.price-btn__heart {
					background-color: #42a5f5;
					&::before {
						content: "\f08a";
					}
				}
			}
		}

		.product-item__author {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			.product-item__avatar {
				width: 73px;
				height: 63px;
				margin-right: 14px;
			}
			.product-item__user-name {
				font-size: 18px;
				color: $main-dark;
				margin-bottom: 10px;
			}
			.product-item__user-profile {
				display: block;
				border: 1px solid #d3d3d3;
				padding: 7px 10px;
			}
		}
		.product-item__awards {
			display: flex;
			li {
				width: 34px;
				height: 37px;
				text-align: center;
				padding-top: 7px;
				& + li {
					margin-left: 8px;
				}
				&::before {
					color: #fff;
					font-size: 18px;
				}
			}
		}
		.product-item__sales {
			@include f300;
			font-size: 16px;
			color: #707070;
			span {
				@include f700;
				font-size: 20px;
				color: $main-dark;
				margin-right: 15px;
				&::before {
					font-family: "icomoon";
					content: "\f07a";
					color: #a6b5bb;
					margin-right: 20px;
				}
			}
		}
		.product-item__specification {
			color: #70838d;
			font-size: 14px;
			line-height: 20px;
			span {
				line-height: 36px;
				color: $main-dark;
				@include f500;
				margin-right: 4px;
			}
		}
	}
}
.product-item {
	border: 1px solid #dedede;
	background-color: #fff;
	padding: 25px 29px;
	margin-bottom: 30px;
}
.product-item__title {
	@include f700;
	font-size: 20px;
	color: $main-dark;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 30px;
}
.product-item__author {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	.product-item__avatar {
		width: 73px;
		height: 63px;
		margin-right: 14px;
	}
	.product-item__user-name {
		font-size: 18px;
		color: $main-dark;
		margin-bottom: 10px;
	}
	.product-item__user-profile {
		display: block;
		border: 1px solid #d3d3d3;
		padding: 7px 10px;
	}
}
.product-item__awards {
	display: flex;
	li {
		width: 34px;
		height: 37px;
		text-align: center;
		padding-top: 7px;
		& + li {
			margin-left: 8px;
		}
		&::before {
			color: #fff;
			font-size: 18px;
		}
	}
}
// page 404
.page-404 {
	margin-bottom: 150px;
}

.page-404__top {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	font-size: 24px;
	color: #444444;
	@include f500;
	padding: 22px 25px;
}
.page-404__body {
	text-align: center;
	background-color: $green;
	border: 1px solid #dcdcdc;
	border-top: none;
	color: #fff;
	padding: 120px 10px 100px;
}
.page-404__404 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 300px;
	line-height: 300px;
	img {
		margin-left: 20px;
	}
}
.page-404__title {
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
}
.page-404__text {
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 18px;
	max-width: 530px;
	line-height: 24px;
	margin-bottom: 55px;
}
.page-404__btn {
	text-transform: uppercase;
	padding: 20px 30px;
	border: 2px solid #fff;
	border-radius: 4px;
	font-size: 14px;
}

// about
.about {
	margin-bottom: 140px;
}

.about__top {
	color: $main-dark;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	font-size: 24px;
	@include f500;
	padding: 22px 25px;
}
.about__body {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	padding: 45px 60px 55px 45px;
}
.about__block {
	& + .about__block {
		margin-top: 50px;
	}
}
.about__title {
	font-size: 20px;
	@include f700;
	color: #444444;
	margin-bottom: 20px;
}
.about__text {
	line-height: 24px;
	color: #707070;
}

// contact
.contact {
	margin-bottom: 135px;
}

.contact__top {
	color: #444444;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	font-size: 24px;
	@include f500;
	padding: 22px 40px;
}
.contact__body {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	padding: 30px 40px;
}
.contact__map {
	margin-bottom: 60px;
	iframe {
		width: 100%;
		height: 415px;
	}
}
.contact__box {
	display: flex;
	justify-content: space-between;
}
.contact__info {
	max-width: 280px;
	width: 100%;
	&-item {
		margin-bottom: 35px;
	}
	&-title {
		font-size: 20px;
		color: $main-dark;
		@include f500;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		padding-left: 40px;
		&::after {
			content: "";
			position: absolute;
			height: 2px;
			width: 44px;
			background-color: $green;
			bottom: 0;
			left: 40px;
		}
		&::before {
			position: absolute;
			left: 0;
			color: $green;
		}
		&.address::before {
			font-family: "icomoon";
			content: "\f041";
		}
		&.phone::before {
			font-family: "icomoon";
			content: "\f095";
		}
		&.email::before {
			font-family: "icomoon";
			content: "\f003";
		}
	}
	&-text {
		color: #707070;
		font-size: 15px;
		padding-left: 40px;
	}
}
.contact__form {
	width: 100%;
	margin-left: 70px;
	&-title {
		@include f500;
		font-size: 24px;
		color: #333333;
		margin-bottom: 20px;
	}
	&-row {
		display: flex;
		justify-content: space-between;
		input {
			border: none;
			outline: none;
			background-color: #f1f4f5;
			display: block;
			max-width: 350px;
			width: 100%;
			height: 43px;
			padding: 15px 15px;
			margin-bottom: 25px;
			&::placeholder {
				color: #7a7a7a;
			}
			& + input {
				margin-left: 25px;
			}
		}
	}
	textarea {
		border: none;
		outline: none;
		background-color: #f1f4f5;
		display: block;
		width: 350px;
		height: 43px;
		padding: 15px 15px;
		width: 100%;
		height: 190px;
		resize: none;
		margin-bottom: 23px;
		&::placeholder {
			color: #7a7a7a;
		}
	}
	button {
		font-size: 16px;
		color: #fff;
		background-color: $green;
		@include f700;
		padding: 20px 5px;
		width: 190px;
	}
}

// settings
.common__tabs {
	display: flex;
	.tabs {
		margin-right: 30px;
		border: 1px solid #dedede;
		border-bottom: none;
		background-color: #fff;
		.tab {
			position: relative;
			padding: 18px 50px;
			border-bottom: 1px solid #dedede;
			color: #37474f;
			@include f500;
			&::before {
				left: 22px;
				font-size: 14px;
				color: #444444;
			}
			&.active {
				color: #37474f;
				border-bottom: 2px solid $green;
				&::before {
					color: $green;
				}
			}
		}
	}
	.tabs__content {
		background-color: #fff;
		border: 1px solid #dedede;
		.tab-item {
			display: none;
			&.active-tab {
				display: block;
			}
		}
	}
}
.settings {
	margin-bottom: 150px;
}

.tabs {
	max-width: 270px;
	width: 100%;
	height: 100%;
}
.tabs__content {
	width: 100%;
}
.tab-item {
	form {
		padding: 30px 35px 80px;
	}
}
.settings-item__title {
	font-size: 24px;
	color: $main-dark;
	@include f500;
	border-bottom: 1px solid #dedede;
	padding: 20px 32px;
}
.settings-item__row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: #444444;
	label {
		max-width: 255px;
		width: 100%;
	}
	input {
		width: 100%;
		background-color: #f9f9f9;
		border: 1px solid #dcdcdc;
		outline: none;
		height: 40px;
		padding: 0 15px;
	}
	select {
		flex-grow: 1;
		background-color: #f9f9f9;
		border: 1px solid #dcdcdc;
		outline: none;
		height: 40px;
		padding: 0 15px;
	}
	button {
		background-color: $green;
		margin-top: 5px;
		padding: 15px 30px;
		color: #fff;
		@include f500;
	}
}

// profile

.profile {
	margin-bottom: 115px;
}

.profile__wrapper {
	display: flex;
}
.profile__aside {
	width: 270px;
	margin-right: 30px;
	margin-bottom: 30px;
	.product-item .product-item__author {
		margin-bottom: 37px;
	}
}

.tabs {
	max-width: 270px;
	width: 100%;
	height: 100%;
	.profile__about-tab::before {
		content: "\f007";
	}
	.profile__products-tab::before {
		content: "\f0f2";
	}
	.profile__message-tab::before {
		content: "\f003";
	}
	.profile__reviews-tab::before {
		content: "\f0e6";
	}
	.profile__followers-tab::before {
		content: "\f0c0";
	}
	.tab {
		position: relative;
		color: #707070;
		&.active {
			color: $main-dark;
			&::before {
				color: #8bc34a;
			}
		}
		&::before {
			position: absolute;
			font-family: "icomoon";
			color: #d0d0d0;
			left: 20px;
		}
	}
}
.profile__tab-title {
	font-size: 20px;
	margin-bottom: 25px;
	color: $main-dark;
	@include f700;
}
.profile__tab-content {
	margin-bottom: 40px;
}
.profile__tab-text {
	color: #707070;
}
.profile__skill-top {
	display: flex;
	justify-content: space-between;
	color: $main-dark;
	font-size: 16px;
	margin-bottom: 12px;
	.profile__skill-title {
		font-style: italic;
		@include f500;
	}
	.profile__skill-percent {
		@include f700;
	}
}
.profile__skill-status {
	height: 15px;
	background-color: #f4f4f4;
	border-radius: 3px;
	margin-bottom: 22px;
	.profile__skill-bar {
		background-image: url(../images/profile-bar.jpg);
		background-repeat: repeat;
		height: 15px;
		border-radius: 3px;
	}
}
.tabs__content {
	padding: 40px 40px 25px;
}

.profile__content {
	flex-grow: 1;
}
.profile__banner {
	border: 1px solid #dedede;
	background-color: #fff;
	padding: 18px 19px;
	margin-bottom: 30px;
}
.profile__banner-img {
	background-image: url(../images/profile-banner.jpg);
	height: 332px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.profile__items {
	display: flex;
	border: 1px solid #dedede;
	background-color: #fff;
}
.profile__items-item {
	width: 100%;
	padding: 19px 5px;
	display: flex;
	justify-content: center;
	& + .profile__items-item {
		border-left: 1px solid #dedede;
	}
}
.profile__item-box {
	align-self: center;
	text-align: center;
}
.profile__items-title {
	font-size: 14px;
	color: $main-dark;
	@include f500;
	margin-bottom: 10px;
}
.profile__items-content {
	color: #707070;
	span {
		color: #000;
	}
	.rate-star {
		margin-right: 0;
	}
}

.product-item__user-profile.online {
	position: relative;
	padding: 8px 13px 8px 25px;
	&::before {
		content: "";
		position: absolute;
		left: 12px;
		top: 12px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: $green;
	}
}
.profile__aside-btn {
	width: 100%;
	font-size: 16px;
	color: #fff;
	@include f700;
	a {
		display: block;
		background-color: $green;
		padding: 20px 5px;
		text-align: center;
		box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
	}
	.profile__aside-message {
		@include f500;
		background-color: $main-bright;
		margin-bottom: 15px;
		span {
			position: relative;
			padding-left: 25px;
			&::before {
				font-family: "icomoon";
				position: absolute;
				content: "\f003";
				left: 0;
				bottom: 0;
			}
		}
	}
}

// upload

.upload {
	margin-bottom: 110px;
	.upload__wrapper {
		background-color: #fff;
		border: 1px solid #dedede;
	}
}
.upload__title {
	padding: 20px 30px;
	font-size: 24px;
	@include f500;
	color: $main-dark;
	border-bottom: 1px solid #dedede;
}
.upload__content {
	padding: 40px 45px 40px 40px;
	button {
		background-color: $green;
		color: #fff;
		margin-left: 175px;
		margin-bottom: 30px;
		padding: 15px 35px;
		@include f500;
	}
}
.upload__content-line {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	label {
		align-self: start;
		padding-top: 10px;
		padding-right: 10px;
		display: block;
		max-width: 175px;
		width: 100%;
		color: #444444;
	}
	span {
		color: $green;
		margin-left: 5px;
	}
	input,
	select,
	textarea {
		width: 100%;
		height: 40px;
		background-color: #f9f9f9;
		border: 1px solid #dedede;
		outline: none;
		padding: 0 17px;
		&::placeholder {
			color: #707070;
		}
	}
	textarea {
		padding-top: 10px;
		resize: none;
		height: 150px;
	}
}
.common-button {
	background-color: $green;
	color: #fff;
	margin-bottom: 30px;
	padding: 15px 35px;
	@include f500;
}
.common-input {
	width: 100%;
	height: 40px;
	background-color: #f9f9f9;
	border: 1px solid #dedede;
	outline: none;
	padding: 0 17px;
	&::placeholder {
		color: #707070;
	}
}
.jq-selectbox.jqselect {
	width: 100%;
	.jq-selectbox__select {
		height: 40px;
		line-height: 40px;
		padding: 0 17px;
		border: 1px solid #dedede;
		border-bottom-color: #dedede;
		border-radius: 0;
		box-shadow: none;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 15px;
		color: #707070;
		text-shadow: none;
		background: #f9f9f9;
		.jq-selectbox__trigger {
			position: absolute;
			top: 0;
			right: 0;
			width: 34px;
			height: 100%;
			border-left: none;
		}
		.jq-selectbox__trigger-arrow {
			position: absolute;
			top: 0;
			right: 20px;
			border-top: none;
			border-right: none;
			border-left: none;
			&::before {
				position: absolute;
				font-family: "icomoon";
				content: "\f0d7";
				color: #444444;
			}
		}
	}
}
.jq-file {
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	.jq-file__name {
		box-sizing: border-box;
		width: 100%;
		height: 40px;
		line-height: 40px;
		padding: 0;
		padding-left: 120px;
		border: 1px solid #dedede;
		border-bottom-color: #dedede;
		border-radius: 0;
		background: #f9f9f9;
		box-shadow: none;
		color: #707070;
	}
	.jq-file__browse {
		line-height: 25px;
		top: 7px;
		right: auto;
		left: 7px;
		padding: 0 12px;
		border-left: none;
		border: 1px solid #dedede;
		border-radius: 0;
		background: #fff;
		box-shadow: none;
		text-shadow: none;
	}
}

// withdrawals

.withdrawals {
	margin-bottom: 145px;
}
.withdrawals__wrapper {
	display: flex;
	justify-content: space-between;
}
.withdrawals__column {
	max-width: 570px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	button {
		margin-top: 10px;
		margin-left: 35px;
		margin-bottom: 50px;
	}
}
.withdrawals__column-title {
	padding: 20px 35px 24px;
	font-size: 24px;
	@include f500;
	color: $main-dark;
	border-bottom: 1px solid #dedede;
}

.withdrawals__form-items {
	padding: 27px 35px 0 35px;
}
.withdrawals__form-item {
	margin-bottom: 30px;
	label {
		display: block;
		margin-bottom: 22px;
		font-size: 16px;
		@include f500;
		color: $main-dark;
	}
	span {
		color: $green;
		margin-left: 5px;
	}
}

.withdrawals__history-items {
	padding: 27px 35px 35px 35px;
}
.withdrawals__history-item {
	display: flex;
	color: #444444;
	font-size: 13px;
	padding: 15px 20px;
	&:nth-child(odd) {
		background-color: #f9f9f9;
	}
}
.withdrawals__item-date {
	padding-left: 20px;
	width: 160px;
	@include f500;
}
.withdrawals__item-email {
	width: 180px;
}
.withdrawals__item-price {
	width: 70px;
	@include f700;
}
.withdrawals__item-status {
	width: 85px;
	@include f700;
	&.paid {
		color: $green;
	}
}

// all-items
.all-items {
	.all-items__wrapper {
		display: flex;
		.all-items__aside {
			max-width: 270px;
			width: 100%;
			margin-right: 30px;
		}
	}
}
.all-items__categories-list {
	margin-bottom: 15px;
	li {
		display: flex;
		justify-content: space-between;
		// margin-bottom: 25px;
		padding-left: 18px;
		position: relative;
		& + li {
			margin-top: 25px;
		}
		label {
			color: $main-dark;
		}
		span {
			color: #90a4ae;
		}
	}
}
.product-item.all-items__price {
	padding-bottom: 30px;
	.all-items__price-bar {
		margin-bottom: 50px;
		.noUi-connect {
			background: #37474f;
		}
		.noUi-horizontal {
			height: 5px;
		}
		.noUi-handle {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			right: -8px;
			top: -8px;
			background-color: $green;
			&::after {
				display: none;
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				height: 9px;
				width: 9px;
				background: #fff;
				border-radius: 50%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.noUi-tooltip {
			bottom: -180%;
			display: block;
			border-radius: 0;
			background: transparent;
			color: #78909c;
			padding: 0;
			text-align: center;
			white-space: nowrap;
			border: none;
		}
	}
	button {
		width: 100%;
		margin-bottom: 0;
		position: relative;

		&::before {
			position: absolute;
			content: "\f002";
			font-family: "icomoon";
			left: 60px;
			top: 13px;
		}
	}
}
.product-item.all-items__top {
	padding-bottom: 30px;
	button {
		width: 100%;
		margin-bottom: 0;
	}
}
.products__item.all-items__aside-item {
	max-width: 210px;
	box-shadow: none;
	padding-bottom: 28px;
	border-bottom: 1px solid #dde3e8;
	.products__item-img {
		height: 120px;
	}
	.products__item-top {
		padding: 15px 0px 15px;
		border-bottom: none;
	}

	.products__item-title {
		font-size: 16px;
		@include f700;
	}

	.products__item-price {
		font-size: 16px;
		@include f700;
	}
	.products__item-bottom {
		padding: 0;
		.rate-star {
			margin-right: 0;
		}
	}
}

.all-items__main {
	width: 100%;
}
.all-items__main-top {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	width: 100%;
	margin-bottom: 30px;
}
.all-items__top-sort {
	color: #707070;
	font-size: 14px;
	position: relative;
	padding-left: 25px;
	padding-right: 25px;
	&::before {
		position: absolute;
		font-family: "icomoon";
		content: "\f161";
		left: 0;
		color: #455a64;
	}
	&::after {
		position: absolute;
		font-family: "icomoon";
		content: "\f0dc";
		right: 0;
	}
}
.all-items__top-view {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 45px;
	margin-right: 5px;
	.view-table {
		position: relative;
		height: 16px;
		&::before {
			position: absolute;
			font-family: "icomoon";
			content: "\f009";
			left: 0;
			color: #455a64;
		}
		&.active::before {
			color: $green;
		}
	}
	.view-list {
		height: 16px;
		position: relative;
		&::after {
			position: absolute;
			font-family: "icomoon";
			content: "\f00b";
			right: 0;
		}
		&.active::after {
			color: $green;
		}
	}
}
.all-items__main-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.products__item {
		width: 270px;
		box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		.products__item-img {
			height: 180px;
		}
		.products__item-top,
		.products__item-bottom {
			padding-left: 22px;
			padding-right: 22px;
		}

		.products__item-top {
			align-items: start;
			padding-top: 25px;
			.products__item-title {
				font-size: 16px;
			}
		}
		.rate-star {
			margin-right: 3px;
		}
	}
}
.all-items__main-items-list {
	.products__item {
		display: flex;
		max-width: 100%;
		box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		.products__item-img {
			width: 240px;
			height: 180px;
		}
		.product__item-content {
			width: 100%;
		}
		.products__item-top,
		.products__item-bottom,
		.products__item-middle {
			padding-left: 22px;
			padding-right: 22px;
		}
		.products__item-top {
			padding-top: 23px;
			padding-bottom: 18px;
			border-bottom: none;
			.products__item-title {
				font-size: 16px;
			}
		}
		.products__item-middle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #e7ecf2;
			padding-bottom: 18px;
			.product__item-info {
				font-size: 14px;
				color: #70838d;
			}
			.product__item-sales {
				font-size: 13px;
				color: #aeb4bb;
			}
		}
		.products__item-bottom {
			padding-top: 15px;
			padding-bottom: 15px;
			.products__item-rating {
				margin-left: auto;
				.rate-star {
					margin-right: 3px;
				}
			}
			.products__item-comments {
				padding-left: 50px;
				margin-left: 30px;
				border-left: 1px solid #e7ecf2;
				position: relative;
				font-size: 12px;
				color: $main-dark;
				&::before {
					position: absolute;
					font-size: 16px;
					font-family: "icomoon";
					content: "\f0e5";
					color: $green;
					left: 18px;
					bottom: 0;
				}
			}
			.products__item-likes {
				padding-left: 50px;
				margin-left: 30px;
				border-left: 1px solid #e7ecf2;
				font-size: 12px;
				color: $main-dark;
				position: relative;
				&::before {
					position: absolute;
					font-size: 16px;
					font-family: "icomoon";
					content: "\f08a";
					color: $green;
					left: 18px;
					bottom: 0;
				}
			}
		}
	}
}
.all-items__main-pages {
	display: flex;
	margin-top: 30px;
	.all-items__main-page {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 43px;
		height: 38px;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		font-size: 16px;
		@include f500;
		color: #37474f;
		background-color: #fff;
		& + .all-items__main-page {
			margin-left: 8px;
		}
		&.active {
			background-color: $red;
			color: #fff;
		}
	}
}

@import "media";
