@import "global";
@import "vars";
@import "fonts";

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.header__text {
	margin-left: auto;
	margin-right: 25px;
	span {
		color: $red;
	}
}
.header__panel {
	display: flex;
	align-items: center;
}
.header__cart {
	position: relative;
	text-align: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	margin-right: 25px;
	img {
		margin: 10px 0;
	}
	span {
		font-family: "Open Sans", sans-serif;
		font-size: 11px;
		font-weight: 600;
		position: absolute;
		padding: 3px 0;
		height: 19px;
		width: 19px;
		background-color: $red;
		border-radius: 50%;
		right: -5px;
		top: -8px;
		color: #fff;
	}
}
.header__btn {
	width: 70px;
	padding: 10px 5px;
	text-align: center;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	& + .header__btn {
		margin-left: 7px;
	}
}

.login-btn {
	background-color: $green;
}
.register-btn {
	background-color: $red;
}
.header__bottom {
	display: flex;
	align-items: center;
	height: 60px;
	background-color: $main-dark;
}
.header__menu {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	li {
		display: inline-block;
	}
	li + li {
		margin-left: 38px;
	}
}
.search {
	background-image: url(../images/header/search-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
}
.search__wrapper {
	text-align: center;
	padding: 155px 0 100px;
	color: #fff;
}

.search__title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 30px;
}
.search__text {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 60px;
}
.search__wrapper {
	& form {
		max-width: 670px;
		position: relative;
		margin: 0 auto;
		.search__input {
			width: 100%;
			height: 56px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			background-color: #fff;
			border: none;
			padding: 0 70px 0 25px;
			color: #90a4ae;
			font-size: 14px;
			font-weight: 500;
			&::placeholder {
				color: $red;
				color: #90a4ae;
			}
		}
		.search__btn {
			position: absolute;
			border: none;
			background-color: transparent;
			top: 16px;
			right: 20px;
		}
	}
}

// products
.products {
	padding: 120px 0 110px;
	background-color: #f4f6f5;
}
.products__title {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	color: $main-dark;
	margin-bottom: 55px;
}

.products__wrapper {
	.products__top-btn {
		text-align: center;
		margin-bottom: 60px;
		button {
			font-size: 14px;
			font-weight: 500;
			color: $main-dark;
			background-color: #fff;
			padding: 10px 20px;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
			& + button {
				margin-left: 5px;
			}
		}
	}
}
.products__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px;
}
.products__item {
	max-width: 442px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	margin-bottom: 30px;
	&-img {
		width: 100%;
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.products__item-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e7ecf2;
		padding: 30px 30px 20px;
	}
	.products__item-text {
		max-width: 310px;
	}
	&-title {
		display: block;
		font-size: 18px;
		color: $main-dark;
		font-weight: 500;
		margin-bottom: 7px;
	}
	&-category {
		font-size: 14px;
		font-weight: 500;
		color: $green;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
	}
	.products__item-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 30px 20px;
	}
	.products__item-author {
		display: flex;
		align-items: center;
		max-width: 245px;
	}
	&-avatar {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
	}
	&-name {
		margin-left: 12px;
		font-size: 14px;
		font-weight: 500;
		color: $main-bright;
	}
	&-rating {
		font-size: 12px;
		color: $main-dark;
		display: flex;
	}
}

.products__bottom-btn {
	text-align: center;
	font-size: 16px;
	color: $main-dark;
	button {
		padding: 20px 30px;
		background-color: #fff;
		margin: 0 5px;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}

// trend
.trend {
	padding: 120px 0;
	&__title {
		font-size: 36px;
		font-weight: 700;
		color: $main-dark;
		margin-bottom: 60px;
		text-align: center;
	}
	&__wrapper {
		text-align: center;
		margin: 0 -10px;

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				button {
					font-size: 0;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #e8e8e8;
					margin: 0 3px;
				}
				&.slick-active {
					button {
						background-color: $green;
					}
				}
			}
		}
	}
}
